*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../../Images/fondo-login.jpg'); /* Reemplaza con la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
}
